<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="toolbar-content">
        <a routerLink="user-list">
          <img src="assets/pl-logo.jpg" alt="Logo" class="logo">
        </a>
        <a routerLink="user-list" class="toolbar-title">Systematic Fantasy League</a>
        <nav class="nav-items">
          <a mat-button routerLink="user-list" class="nav-item">Overview</a>
          <a mat-button routerLink="guide" class="nav-item">Guide</a>
        </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar color="primary" class="bottom-bar">
    <mat-toolbar-row>
      <span class="bottom-text">Some custom text here</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
