:root {
  --primary-color: #141446;
  --primary-contrast-color: #ffffff; /* White color for better contrast */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.guide-card, .section-card {
  margin: 16px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px; /* Allows the card to grow and shrink, with a base width of 300px */
  min-height: 150px; /* Adjust minimum height as needed */
  box-sizing: border-box;
}

mat-card-title {
  color: var(--primary-color);
  font-weight: bold;
}

.mat-card-content h3, .mat-card-content h4, .mat-card-content h5 {
  color: var(--primary-color);
}

ol li {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .guide-card, .section-card {
    flex: 1 1 100%; /* Make cards full width on smaller screens */
  }
}
