<!-- user-list.component.html -->
<mat-card class="mat-card-custom">
  <mat-table [dataSource]="dataSource" matSort class="mat-table-custom">
    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Rank </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.rank}} </mat-cell>
    </ng-container>

    <!-- Player Name Column -->
    <ng-container matColumnDef="playerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Player Name </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.playerName}} </mat-cell>
    </ng-container>

    <!-- Team Name Column -->
    <ng-container matColumnDef="entryName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Team Name </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.entryName}} </mat-cell>
    </ng-container>

    <!-- Total Points Column -->
    <ng-container matColumnDef="totalPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Total Points </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.totalPoints}} </mat-cell>
    </ng-container>

    <!-- Rank Change Column -->
    <ng-container matColumnDef="rankChange">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell-custom"> Rank Change </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom">
        <mat-icon *ngIf="user.rank < user.lastRank" class="arrow-up">arrow_upward</mat-icon>
        <mat-icon *ngIf="user.rank > user.lastRank" class="arrow-down">arrow_downward</mat-icon>
        <mat-icon *ngIf="user.rank === user.lastRank" class="horizontal-rule">horizontal_rule</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row-custom"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-custom"></mat-row>
  </mat-table>
</mat-card>
