<mat-card class="mat-card-custom">
  <mat-card-header>
    <mat-card-title>
      <h3>{{ league?.league?.name }}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <mat-table [dataSource]="dataSource" matSort class="mat-table-custom">
    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Rank </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.rank}} </mat-cell>
    </ng-container>

    <!-- Player Name Column -->
    <ng-container matColumnDef="playerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Player Name </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.playerName}} </mat-cell>
    </ng-container>

    <!-- Team Name Column -->
    <ng-container matColumnDef="entryName">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Team Name </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.entryName}} </mat-cell>
    </ng-container>

    <!-- Total Points Column -->
    <ng-container matColumnDef="currentGameweek">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Current gameweek</mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{ getGameweekStat(user, currentGameweekNumber!)}} </mat-cell>
    </ng-container>

    <!-- Total Points Column -->
    <ng-container matColumnDef="totalPoints">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-custom"> Total Points </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom"> {{user.totalPoints}} </mat-cell>
    </ng-container>

    <!-- Rank Change Column -->
    <ng-container matColumnDef="rankChange">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell-custom"> Rank Change </mat-header-cell>
      <mat-cell *matCellDef="let user" class="mat-cell-custom">
        <mat-icon *ngIf="user.rank < user.lastRank" class="arrow-up">&#x2191;</mat-icon>
        <mat-icon *ngIf="user.rank > user.lastRank" class="arrow-down">&#x2193;</mat-icon>
        <mat-icon *ngIf="user.rank === user.lastRank" class="horizontal-rule">—</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row-custom"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-custom" (click)="onRowClick(row)"></mat-row>
  </mat-table>
  </mat-card-content>
</mat-card>
