<mat-card class="guide-card">
    <mat-card-header>
      <mat-card-title>Welcome to the Systematic Fantasy Premier League!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Welcome to this amazing game of fantasy Premier League hosted by the Systematic Employees Club. Compete with your colleagues for the top spot and win exciting prizes!</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="section-card">
    <mat-card-header>
      <mat-card-title>How to Join</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ol>
        <li>Go to <a href="https://fantasy.premierleague.com/" target="_blank">https://fantasy.premierleague.com/</a> and create a profile.</li>
        <li>Set up your team.</li>
        <li>Join the league with the code (not available now).</li>
        <li>Play and try to win!</li>
      </ol>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="section-card">
    <mat-card-header>
      <mat-card-title>Game Types</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3>Classic League</h3>
      <p>Step into the arena of the <strong>Classic League</strong>, where your managerial skills will be put to the ultimate test. Your team's performance hinges on the real-world exploits of Premier League players, with each match offering a new opportunity to climb the ranks and secure your place at the top.</p>
      <p>This is more than just a game; it's a season-long quest for glory, where every point can make a difference. Are you ready to compete for the <strong>top prizes</strong>? The leaderboard awaits, and the <strong>top three managers</strong> will be rewarded handsomely for their strategic brilliance.</p>
      <h4>Maximize Your Points with Game-Changing Chips</h4>
      <p>Don't forget to utilize your arsenal of chips to gain an edge over the competition:</p>
      <ul>
        <li><strong>Bench Boost</strong> - Transform your substitutes into key players to maximize your points for a matchweek.</li>
        <li><strong>Wildcards</strong> - Revamp your team without penalties and stay ahead of the game.</li>
        <li><strong>Free Hit</strong> - Make unlimited transfers for a single matchweek to tackle the unexpected.</li>
        <li><strong>Triple Captain</strong> - Triple your captain's points and turn a good week into a legendary one.</li>
      </ul>
      <p>Embrace the challenge, outmaneuver your rivals, and lead your team to victory. The Classic League is calling—will you answer?</p>
  
      <h3>Sprints</h3>
      <p>Attention all fantasy league enthusiasts! Prepare for an exhilarating twist to your strategic gameplay with our unique <strong>Fantasy League Sprints</strong>. Every five gameweeks, the competition intensifies as we introduce a new sprint with its own distinctive set of rules, creating a fresh challenge and a chance to climb the leaderboard.</p>
      <p>Stay alert for the announcements and be ready to adapt to the new rules. It's not just about the long game; it's about being quick, agile, and responsive to the ever-changing dynamics of the league.</p>
      <h4>Unique Rules for Each Sprint</h4>
      <p>Each sprint is a mini-tournament within the larger fantasy league, operating on a <strong>separate point system</strong>. Imagine a sprint where the usual suspects for points are turned on their head—where <strong>only yellow cards yield points</strong>. It's a test of your predictive skills and your ability to think outside the box.</p>
      <h4>Prizes That Fuel the Competition</h4>
      <p>The stakes are high as the top performer in each sprint will be rewarded with an exclusive prize. It's not just about the glory; it's about the tangible rewards that await the most astute and daring manager.</p>
      <p>These sprints are more than just a game; they're a battleground for the shrewdest tacticians. So, gear up for an added layer of fun and competition that will keep you on the edge of your seat. Are you ready to take on the challenge?</p>
    </mat-card-content>
  </mat-card>
  